<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="container-fluid">
      <div class="container">
        <h1>さあ旅に出よう！</h1>
        <p>そろたび！で、ひとり旅ならではの情報を共有して、</p>
        <p>旅をさらに楽しくしましょう！</p>
      </div>
        
      <div class="container">
        <div class="introdutcion ">
          <h2>そろたび！は</h2>
          <ul>
            <li>旅行先の情報を投稿</li>
            <li>各地の投稿を見る</li>
          </ul>
          <p>などができる情報共有サイトです。</p>
        </div>
      </div>
 </div>
</div>

