<% if logged_in? %>
  <div class="userbox">
        <%= render 'shared/user_info' %>
        <%= render 'shared/post_form' %>
  </div>
<% else %>
<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="container-fluid">
      <div class="container">
        <h1>さあ旅に出よう！</h1><br>
        <p>
          旅の思い出を記録して、<br>
          次の旅をさらに楽しくしましょう！
        </p>
        <%= link_to "新しくはじめる", signup_path, class:"btn signuptn loginbtn" %>
      </div>
        
      <div class="container">
        <div class="introdutcion">
          <p>そろたび！は</p>
          <ul>
            <li>旅行先の情報を記録する</li>
            <li>各地の記録を見る</li>
          </ul>
          <p>などができる場所です。</p>
        </div>
      </div>
 </div>
</div>
<% end %>

