@import "bootstrap-sprockets";
@import "bootstrap";

// ヘッダー
header{
  background-color:rgb(153,204,101);
  color: white;
  padding: 10px 0;
}

.headbox{
  display: flex;
  justify-content: space-between;
  margin: 0 4%;
}

#logo a{
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.menu ul{
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
}

.menu ul li a{
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin-left: 24px;
}


// ボディ

.jumbotron-extend{
  height: 720px;
  width: 100%;
  background-image: url("top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0; 
  h1{
    font-weight: bold;
  }p{
    font-size: 24px;
  }
}
  

.container{
  height: 250px;
}

.introdutcion{
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
  padding: 25px;
  width: 50%;
  border-radius: 15px;
  li{
    font-size: 24px;
  }
}


// ホーム
.signuptn{
  line-height: 36px;
}


// ログインフォーム
.loginwrapper{
  text-align: center;
}

.formbox{
  width:500px;
  margin:20px auto;
}

.loginbtn{
  background-color:rgb(0,160,220);
  margin-bottom:20px;
  width:150px;
  height:50px;
  border-radius:15px;
  color:white;
  font-weight:bold;
}

.loginbtn:hover{
  color: black;
  opacity: 0.7;
  cursol: pointer;
}

// マイページ
.userbox{
  display: flex;
  justify-content: center;
}

.showpost{
  padding: 40px;
  margin: 40px;
}



// エディット
.editform{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.editform div input{
  margin-top: 0;
}

.gravatar_edit{
 margin: 15px auto;
}

// 投稿フォーム
.userinfo{
  padding: 40px;
  margin: 40px;
}

.postform{
  padding: 40px;
  margin: 40px;
}


// フッター
footer{
  text-align: center;
}